:root {
  --vimium-foreground: #FFFFFF;
  --vimium-background: #1e1d28;
  --vimium-accent1:    #95ff68;
  --vimium-accent2:    #68ffeb;
  --vimium-accent3:    #ffe068;
  --vimium-alt:        #e068ff;
  --vimium-muted:      #272535;
  --vimium-cursor:     #FFFFFF;
}

#vimiumHintMarkerContainer div.internalVimiumHintMarker,
#vimiumHintMarkerContainer div.vimiumHintMarker {
  padding: 3px 4px;
  background: var(--vimium-accent3);
  border: 1px solid var(--vimium-background);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3), 0 1px 2px rgba(0, 0, 0, 0.24);
}

#vimiumHintMarkerContainer div span {
  color: var(--vimium-background) !important;
  text-shadow: none;
}

#vimiumHintMarkerContainer div > .matchingCharacter {
  opacity: 1.0;
}

#vimiumHintMarkerContainer div > .matchingCharacter ~ span {
  color: var(--vimium-cursor);
}

#vomnibar {
  background: var(--vimium-background);
  border: 2px solid var(--vimium-alt);
  animation: show 200ms ease-out forwards;
  max-height: calc(100vh - 70px);
  overflow: hidden;
}

@keyframes show {
  0% {
    transform: translateY(50px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

#vomnibar input {
  color: var(--vimium-foreground);
  background: var(--vimium-background);
  border: none;
  padding: 16px 30px;
}

#vomnibar .vomnibarSearchArea {
  background: var(--vimium-background);
  border: none;
  padding: unset;
}

#vomnibar ul {
  padding: 0;
  margin: 0;
  background: var(--vimium-background);
  border-top: 1px solid var(--vimium-muted);
}

#vomnibar li {
  padding: 10px;
  border-bottom: 1px solid var(--vimium-muted);
}

#vomnibar li .vomnibarTopHalf,
#vomnibar li .vomnibarBottomHalf {
  padding: 3px 0;
}

#vomnibar li .vomnibarSource {
  color: var(--vimium-accent3);
}

#vomnibar li em,
#vomnibar li .vomnibarTitle {
  color: var(--vimium-accent2);
  font-weight: bold;
}

#vomnibar li .vomnibarUrl {
  color: var(--vimium-foreground);
}

#vomnibar li .vomnibarMatch {
  color: var(--vimium-accent1);
  font-weight: bold;
}

#vomnibar li .vomnibarTitle .vomnibarMatch {
  color: var(--vimium-accent2);
}

#vomnibar li.vomnibarSelected {
  background-color: var(--vimium-muted);
}

div.vimiumHUD {
  background: var(--vimium-background);
  border: none;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
}

div.vimiumHUD span#hud-find-input,
div.vimiumHUD .vimiumHUDSearchAreaInner {
  color: var(--vimium-foreground);
}

div.vimiumHUD .hud-find {
  background-color: var(--vimium-background);
  border: none;
}

div.vimiumHUD .vimiumHUDSearchArea {
  background-color: var(--vimium-background);
}

body.vimiumBody,
.vimiumBody {
  background-color: var(--vimium-background) !important;
}

.vimiumBody #footerWrapper,
#userDefinedLinkHintCss,
#scrollStepSize,
#linkHintNumbers,
#newTabUrl,
#nextPatterns,
#previousPatterns,
#searchUrl,
#linkHintCharacters,
#searchEngines,
#keyMappings,
#uploadBackup {
  color: var(--vimium-foreground) !important;
  background-color: var(--vimium-muted);
}

.vimiumBody #footer,
.vimiumBody .remove,
input[name="pattern"],
input[name="passKeys"],
#uploadBackup {
  background-color: var(--vimium-muted) !important;
  color: var(--vimium-foreground) !important;
}

body.vimiumBody input {
  border-color: var(--vimium-background);
}

body.vimiumBody a {
  color: var(--vimium-alt);
}

body.vimiumBody .exclusionHeaderText,
body.vimiumBody .example,
body.vimiumBody .caption,
body.vimiumBody header,
body.vimiumBody textarea,
body.vimiumBody input,
body.vimiumBody label {
  color: var(--vimium-foreground) !important;
}
