/* ================================ */
/*            Common CSS            */
/* ================================ */
* {
    font-size: 16px;
    font-family: ShureTechMono Nerd Font Mono
    padding: 0;
    border-radius: 0;
    min-height: 0;
    margin: 0;
    border: none;
    text-shadow: none;
    transition: none;
    box-shadow: none;
}

/* the whole window */
window#waybar {
    background: #16181a;
    color: #ffffff;
    padding: 0;
    margin: 0;
}

window#waybar.hidden {
    opacity: 1;
}

/* ================================ */
/*       workspaces module          */
/* ================================ */
#workspaces {
    margin: 0px;
}

/*#workspaces button {*/
/*    color: #ffffff;*/
/*    padding: 0 4px;*/
/*    margin-bottom: 4px;*/
/*    font-family: ShureTechMono Nerd Font;*/
/*    font-size: 22px;*/
/*    font-weight: 800;*/
/*    border-bottom: 2px solid transparent;*/
/*}*/

#workspaces button:hover {
    color: #bd5eff;
    background: none;
}

#workspaces button.visible {
    color: #5eff6c;
    border-bottom: 2px solid #5eff6c;
}

#workspaces button.active {
    color: #5eff6c;
    border-bottom: 2px solid #5eff6c;
}

#workspaces button.urgent {
    color: #ff6e5e;
    border-bottom: 2px solid #ff6e5e;
}

/* ================================ */
/*            window                */
/* ================================ */
#window {
    color: #bd5eff;
    background: none;
    margin: 4px 8px;
    border-bottom: 2px solid #bd5eff;
}

/* ================================ */
/*            tray                  */
/* ================================ */
#tray {
    margin: 0 3px;
    padding: 0 8px;
}

/* ================================ */
/*            disk                  */
/* ================================ */
#disk {
    color: #bd5eff;
    margin: 5px 2px;
    border-bottom: 2px solid #bd5eff;
}

/* ================================ */
/*            cpu                   */
/* ================================ */
#cpu {
    color: #5ea1ff;
    margin: 5px 2px;
    border-bottom: 2px solid #5ea1ff;
}

/* ================================ */
/*            temp                  */
/* ================================ */
#temperature {
    color: #bd5eff;
    margin: 5px 3px;
    border-bottom: 2px solid #bd5eff;
}

#temperature.critical {
    color: #ff6e5e;
    border-bottom: 2px solid #ff6e5e;
}

/* ================================ */
/*            backlight             */
/* ================================ */
#backlight {
    color: #5eff6c;
    border-bottom: 2px solid #5eff6c;
}

/* ================================ */
/*            memory                */
/* ================================ */
#memory {
    color: #3c4048;
    border-bottom: 2px solid #3c4048;
}

/* ================================ */
/*         pulseaudio               */
/* ================================ */
#pulseaudio {
    color: #f1ff5e;
    border-bottom: 2px solid #f1ff5e;
}

#pulseaudio.muted {
    color: #ff6e5e;
    border-bottom: 2px solid #ff6e5e;
}

/* ================================ */
/*            battery               */
/* ================================ */
#battery {
    color: #5eff6c;
    border-bottom: 2px solid #5eff6c;
}

#battery.critical {
    color: #ff6e5e;
    border-bottom: 2px solid #ff6e5e;
}

#battery.warning {
    color: #bd5eff;
    border-bottom: 2px solid #bd5eff;
}

/* ================================ */
/*            clock                 */
/* ================================ */
#clock {
    color: #5eff6c;
    border-bottom: 2px solid #5eff6c;
}
