/* ================================ */
/*            Common CSS            */
/* ================================ */
* {
    padding: 0;
    border-radius: 0;
    min-height: 0;
    margin: 0;
    border: none;
    text-shadow: none;
    transition: none;
    box-shadow: none;
}

/* the whole window */
window#waybar {
    background: #000000; /* True black background */
    color: #ffffff; /* Foreground */
    padding: 0;
    margin: 0;
}

window#waybar.hidden {
    opacity: 1;
}

/* ================================ */
/*       workspaces module          */
/* ================================ */
#workspaces {
    margin: 0px;
}

#workspaces button {
    color: #aaaaaa; /* Foreground */
    padding: 0 4px;
    margin-bottom: 4px;
    font-family: Bedstead;
    font-size: 30px;
    font-weight: 800;
    border-bottom: 2px solid transparent;
}

#workspaces button:hover {
    color: #ffffff; /* Red */
    background: none;
}

#workspaces button.visible,
#workspaces button.active {
    color: #ffffff; /* Green */
    border-bottom: 2px solid #ffffff;
}

#workspaces button.urgent {
    color: #ffffff; /* Bright red */
    border-bottom: 2px solid #ffffff;
}

/* ================================ */
/*            window                */
/* ================================ */
#window {
    color: #ffffff; /* Red */
    background: none;
    margin: 4px 8px;
    font-family: Bedstead;
    font-size: 30px;
    font-weight: 800;
    border-bottom: 2px solid #ffffff;
}

/* ================================ */
/*            tray                  */
/* ================================ */
#tray {
    margin: 0 3px;
    padding: 0 8px;
}

/* ================================ */
/*            disk                  */
/* ================================ */
#disk {
    font-family: Bedstead;
    font-size: 30px;
    font-weight: 800;
    color: #ffffff; /* Purple */
    margin: 5px 2px;
    border-bottom: 2px solid #ffffff;
}

/* ================================ */
/*            cpu                   */
/* ================================ */
#cpu {
    font-family: Bedstead;
    font-size: 30px;
    font-weight: 800;
    color: #ffffff; /* Blue */
    margin: 5px 2px;
    border-bottom: 2px solid #ffffff;
}

/* ================================ */
/*            backlight             */
/* ================================ */
#backlight {
    font-family: Bedstead;
    font-size: 30px;
    font-weight: 800;
    color: #ffffff; /* Cyan */
    margin: 5px 3px;
    border-bottom: 2px solid #ffffff;
}

/* ================================ */
/*            memory                */
/* ================================ */
#memory {
    font-family: Bedstead;
    font-size: 30px;
    font-weight: 800;
    color: #ffffff; /* Gray */
    margin: 5px 3px;
    border-bottom: 2px solid #ffffff;
}

/* ================================ */
/*         pulseaudio               */
/* ================================ */
#pulseaudio {
    font-family: Bedstead;
    font-size: 30px;
    font-weight: 800;
    color: #64fcda; /* Cyan */
    margin: 5px 3px;
    border-bottom: 2px solid #ffffff;
}

#pulseaudio.muted {
    color: #d03770; /* Bright red */
    border-bottom: 2px solid #ffffff;
}

/* ================================ */
/*            battery               */
/* ================================ */
#battery {
    font-family: Bedstead;
    font-size: 30px;
    font-weight: 800;
    color: #ffffff; /* Green */
    margin: 5px 3px;
    border-bottom: 2px solid #ffffff;
}

#battery.critical {
    color: #ffffff; /* Bright red */
    border-bottom: 2px solid #ffffff;
}

#battery.warning {
    color: #ffffff; /* Yellow */
    border-bottom: 2px solid #ffffff;
}

/* ================================ */
/*            clock                 */
/* ================================ */
#clock {
    font-family: Bedstead;
    font-size: 30px;
    font-weight: 800;
    color: #ffffff; /* Green */
    margin: 5px 3px;
    border-bottom: 2px solid #ffffff;
}
